body {
    font-family: "Lato", sans-serif;
    background-color: #ECF2FE;
}



.main-head{
    height: 150px;
    background: #FFF;
   
}

.sidenav-login {
    height: 100%;
    background-color: rgba(30, 68, 147, 0.51);
    overflow-x: hidden;
    padding-top: 20px;
}


.main-login {
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
}

@media screen and (max-width: 450px) {
    .login-form{
        margin-top: 10%;
    }

    .register-form{
        margin-top: 10%;
    }
}

@media screen and (min-width: 768px){
    .main-login{
        margin-left: 40%; 
    }

    .sidenav-login{
        width: 40%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }

    .login-form{
        margin-top: 80%;
    }

    .register-form{
        margin-top: 20%;
    }
}


.login-main-text{
    padding: 60px;
    color: #fff;
}
.login-main-text h1{
    font-weight: bolder;
}
.login-main-text p{
    font-weight: bolder;
}

.login-main-text h2{
    font-weight: 300;
}

.login-main-text li{
    list-style-type: none;
}

.btn-black{
    background-color: #000 !important;
    color: #fff;
}

.logo {
    /* centralizar */
}

.ul-actions li p{
    font-weight: 500;
    color: #666666;
}
.ul-actions li span{
    font-weight: 700;
    color: black;
}

.alreadyHasAccount {
    font-size: 12px;
}

.needHelp {
    margin: 10% 0 !important;
    font-weight: 500;
}

.input-wrapper {
    margin: 5% 0;
}
.submit-area {
    max-width: 17rem;
}

.error-message {
    color: rgb(251, 117, 117);
    font-size: 12px;
}