.jobCardWrapper {
    align-items: stretch !important;
}

.cardSubtitle {
    margin-top: 0.5rem !important;
    margin-bottom: 0 !important;
    margin-left: 0.5rem !important;
    margin-right: 0.5rem !important;
    font-size: 16px;
    font-weight: 500;
    color: rgb(108, 117, 125);
}

.card-body {
    min-height: 250px;
}

.card-title {
    font-weight: bolder;
}

.card-text {
    font-weight: lighter;
    font-size: 0.8rem;
}

.card-center-info {
    text-align: center !important;
}
