.jobpageWrapper {
    margin: 0 25%;
}

/* Job description styles */
.jobpageWrapper p{
    text-align: justify;
}

.jobpageWrapper h1 {
    margin-top: 1rem;
}

.techBadge {
    background-color: rgb(13, 202, 240);
    margin: 0 1%;
}